*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    color: white;
    line-height: 1.6;
}
body{
   
}
.container{
    display: flex;
    justify-content: center;
    height: 1000px;
    background: rgb(82, 163, 255);
}
.logo{
    position: absolute;
    top: 20px;
    left: calc(2vh);
 
}
.logo img{
    width: calc(25vw);
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 35%;
    text-align: center;
}

.text{
    padding: 35px;
}


.right{
    flex-basis: 65%;
    height: 100%;
    background: url('./imgs/warehouseclean1.jpg');
    background-size: cover;
    background-position: center;
}